{:duct.profile/base
 {:duct.core/project-ns cashier
  :duct.server.http/jetty
  {:port 3333}

  :cashier.core.usecase.cash/calc-sum
  {}
  :cashier.core.usecase.cash/calc-change
  {}

  :cashier.handler.health/get-health {}
  :cashier.handler.cash/get-sum
  {:calc-sum #ig/ref :cashier.core.usecase.cash/calc-sum}
  :cashier.handler.cash/get-change
  {:calc-change #ig/ref :cashier.core.usecase.cash/calc-change}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}

 :duct.module/ataraxy
 {[:get "/health"] [:health/get-health]
  [:get "/sum" {cash :params}] [:cash/get-sum cash]
  [:get "/change" {params :params}] [:cash/get-change params]}}
