{:duct.profile/base
 {:duct.core/project-ns cashier
  :duct.server.http/jetty
  {:port 3333}

  :cashier.driver.db.cash/find-cash-count
  {:db #ig/ref :duct.database/sql}

  :cashier.gateway.cash/cash-available
  {:find-cash-count #ig/ref :cashier.driver.db.cash/find-cash-count}

  :cashier.port.cash/cash
  {:cash-available #ig/ref :cashier.gateway.cash/cash-available}

  :cashier.core.usecase.cash/calc-sum
  {}
  :cashier.core.usecase.cash/calc-change
  {:port #ig/ref :cashier.port.cash/cash}

  :cashier.handler.health/get-health {}
  :cashier.handler.cash/get-sum
  {:calc-sum #ig/ref :cashier.core.usecase.cash/calc-sum}
  :cashier.handler.cash/get-change
  {:calc-change #ig/ref :cashier.core.usecase.cash/calc-change}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql
 {:database-url "jdbc:postgresql://localhost:5432/cashier?user=cashier&password=cashier"}

 :duct.module/ataraxy
 {[:get "/health"] [:health/get-health]
  [:get "/sum" {cash :params}] [:cash/get-sum cash]
  [:get "/change" {params :params}] [:cash/get-change params]}}
